.marginAdmin{
    margin-top: 100px;
   
}

.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.detail{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 5px;
}
.title{
    text-align: center;
    justify-content: center;
    display: flex;
}
th{
    text-align: center;
}
tr{
    text-align: center;
   vertical-align: middle;
}
.create{
    width: 100%;
    justify-content: flex-end ;
    display: flex;
}